.Card__Style{
    width: 40%;
    margin: 2%;
    
}
.Card__Style:hover{
    transform: scale(1.03);
    transition:ease-in-out 0.2s;
    border-radius: 30px;
    box-shadow: 10px 2px 2px #ff0000;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03);
    

}

@media (max-width: 600px) {
    .Card__Style {
        width: 100%;
        
    }
  }

  .Avatar{
     
      z-index: 10;
   
      
  }

  .Link__Style:hover{
       transform: scale(1.2);
    transition:ease-in-out 0.2s;
      filter:contrast(300%);
     
  }